---
---

@import "minima/skins/{{ site.minima.skin | default: 'classic' }}";
@import "minima/initialize";

/* Your custom overrides below */
body {
    font-family: Arial, sans-serif;
}

h1, h2, h3 {
    color: #004080; /* Custom heading color */
}

a {
    color: #0066cc; /* Change link color */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #004080;
}
